## Importing Libraries

In [1]:
import pandas as pd
import seaborn as sns

## Importing Dataset

In [2]:
df=pd.read_csv("Airline_Reviews.csv")
df.head()

,Airline Name,Overall_Rating,Review_Title,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,AB Aviation,9,"""pretty decent airline""",Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,Nov-19,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,AB Aviation,1,"""Not a good airline""",Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,Jun-19,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,AB Aviation,1,"""flight was fortunately short""",Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,Jun-19,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,Adria Airways,1,"""I will never fly again with Adria""",Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,Sep-19,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,Adria Airways,1,"""it ruined our last days of holidays""",Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,Sep-19,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline Name            23171 non-null  object
 1   Overall_Rating          23171 non-null  object
 2   Review_Title            23171 non-null  object
 3   Review                  23171 non-null  object
 4   Aircraft                7129 non-null   object
 5   Type Of Traveller       19433 non-null  object
 6   Seat Type               22075 non-null  object
 7   Route                   19343 non-null  object
 8   Date Flown              19417 non-null  object
 9   Seat Comfort            19016 non-null  float64
 10  Cabin Staff Service     18911 non-null  float64
 11  Food & Beverages        14500 non-null  float64
 12  Ground Service          18378 non-null  float64
 13  Inflight Entertainment  10829 non-null  float64
 14  Wifi & Connectivity     5920 non-null   float64
 15  Value For Money         22105 non-null  float64
 16  Recommended             23171 non-null  object
dtypes: float64(7), object(10)
memory usage: 3.0+ MB

In [4]:
df.describe()

,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money
count,19016.000000,18911.000000,14500.000000,18378.000000,10829.000000,5920.000000,22105.000000
mean,2.618321,2.871609,2.553586,2.353738,2.178964,1.780405,2.451120
std,1.464844,1.604631,1.526314,1.595747,1.488758,1.318800,1.594125
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,3.000000,3.000000,2.000000,1.000000,2.000000,1.000000,2.000000
75%,4.000000,4.000000,4.000000,4.000000,3.000000,2.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [5]:
df = df[(df['Overall_Rating']=='9')|(df['Overall_Rating']=='8')|(df['Overall_Rating']=='2')|(df['Overall_Rating']=='1')|(df['Overall_Rating']=='0')][['Review','Overall_Rating']]
df['Overall_Rating'] = df['Overall_Rating'].apply(lambda Overall_Rating: 'Pos' if (Overall_Rating=='9' or Overall_Rating=='8') else 'Neg')
df.reset_index(inplace=True)
df.head()

   index                                             Review Overall_Rating
0      0    Moroni to Moheli. Turned out to be a pretty ...            Pos
1      1   Moroni to Anjouan. It is a very small airline...            Neg
2      2    Anjouan to Dzaoudzi. A very small airline an...            Neg
3      3    Please do a favor yourself and do not fly wi...            Neg
4      4   Do not book a flight with this airline! My fr...            Neg

In [6]:
df['Overall_Rating'].value_counts()

Neg    13891
Pos     3525
Name: Overall_Rating, dtype: int64

## Importing Reference

In [7]:
import re
import nltk

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [8]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mishra\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Mishra\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Lemmatization Object

In [9]:
ps = WordNetLemmatizer()
corpus = []

In [10]:
for i in range(0,len(df)):
    Review = re.sub('[^a-zA-Z]'," ",df['Review'][i])
    Review = Review.lower()
    Review = Review.split()
    Review = [ps.lemmatize(word) for word in Review if not word in stopwords.words('english')]
    Review = ' '.join(Review)
    corpus.append(Review)

In [11]:
df.to_csv('tdata.csv',index = False)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [13]:
X = cv.fit_transform(corpus).toarray()
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
X.shape

(17416, 23501)

In [15]:
y = pd.get_dummies(df['Overall_Rating'])
y = y.iloc[:,1].values
y

array([1, 0, 0, ..., 0, 0, 0], dtype=uint8)

## Splitting into Training Set and Testing Set

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=3)

In [17]:
from sklearn.naive_bayes import MultinomialNB
model1 = MultinomialNB().fit(X_train,y_train)

In [18]:
model1.score(X_test,y_test)
y_pred = model1.predict(X_test)

In [19]:
from sklearn.metrics import confusion_matrix
confusion_m = confusion_matrix(y_test,y_pred)

confusion_m

array([[2302,  450],
       [  92,  640]], dtype=int64)

In [20]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)

accuracy

0.8444316877152698

In [21]:
#checking precision score
from sklearn.metrics import precision_score
precision_score(y_test,y_pred)

0.5871559633027523

In [22]:
#checking recall score

from sklearn.metrics import recall_score
recall_score(y_test,y_pred)

0.8743169398907104

In [23]:
#checking f-beta score

from sklearn.metrics import fbeta_score
fbeta_score(y_test,y_pred,beta=1)

0.7025246981339187

In [24]:
# Checking the training model with custom input data
message = "the hotel was nice and comfy"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model1.predict(vect)
my_prediction_prob = model1.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

Positive
0.5666970232918236

In [25]:
message = "the hotel was bad and the staff was rude"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model1.predict(vect)
my_prediction_prob = model1.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

Negative
0.9958853884062563

In [26]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='liblinear')

In [27]:
model2 = logreg.fit(X_train, y_train)

In [28]:
y_pred_class = logreg.predict(X_test)

In [29]:
from sklearn import metrics

In [30]:
metrics.accuracy_score(y_test, y_pred)

0.8444316877152698

In [31]:
metrics.precision_score(y_test, y_pred)

0.5871559633027523

In [32]:
metrics.precision_score(y_test, y_pred)

0.5871559633027523

In [33]:
metrics.recall_score(y_test, y_pred)

0.8743169398907104

In [34]:
metrics.fbeta_score(y_test, y_pred, beta=1)

0.7025246981339187

In [35]:
metrics.roc_auc_score(y_test, y_pred)

0.8553997490151226

In [36]:
metrics.confusion_matrix(y_test, y_pred)

array([[2302,  450],
       [  92,  640]], dtype=int64)

In [37]:
message = "cozy stay rainy city"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model2.predict(vect)
my_prediction_prob = model2.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

Negative
0.7589356840848144

In [38]:
message = "the hotel was bad and the staff was rude"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model2.predict(vect)
my_prediction_prob = model2.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

Negative
0.8960392183095216

In [39]:
# Dump the machine learning model outsite so you can use outsite and not retrain again and again
import pickle

#pickle file for logistic regression

filename = 'logistic_regression_model.pkl'
pickle.dump(model2, open(filename, 'wb'))
pickle.dump(cv, open('tranform_logistic.pkl', 'wb'))

In [40]:
#pickle file for naive bayes

filename = 'naive_bayes_model.pkl'
pickle.dump(model1, open(filename, 'wb'))
pickle.dump(cv, open('transform_naive.pkl', 'wb'))